
<h3>{{place.name}}</h3>

<form name="placeEditForm" ng-submit="submit()" novalidate>
  <div class="form-group">
    <label>Name</label>
    <input type="text" ng-model="place.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" ng-model="place.address" class="form-control" />
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" ng-model="place.city" class="form-control" />
  </div>
  <div class="form-group">
    <label>Notes</label>
    <textarea ng-model="place.notes" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
  <a href="/places" class="btn">Cancel</a>
</form>
