<p>
  <a href="/places/new" class="btn btn-primary btn-xs btn-new">New Place</a>
</p>

<table class="table">
  <tbody>
    <tr ng-repeat="place in listCtrl.places | orderBy:'-created_at':true">
      <td><a href="/places/{{place.id}}">{{place.name}}</a></td>
      <td>{{place.address}}<span ng-show="!!place.address.length">,</span> {{place.city}}</td>
      <td><span class="glyphicon glyphicon-remove btn-remove" ng-click="remove(place)"></span></td>
    </tr>
  </tbody>
</table>
