
<h2>{{place.name}}</h2>
<p>{{place.address}}<span ng-show="!!place.address.length">,</span> {{place.city}}</p>
<p>{{place.notes}}</p>
<a href="/places/{{place.id}}/edit" class="btn btn-primary btn-xs btn-new">Edit</a>
<a href="/places" class="btn btn-primary btn-xs btn-list">List</a>
